.tasksContainer {
    display: grid;
    gap: 1.5rem;
}

.summaryTasks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.counterTasks strong {
    color: var(--blue-500);
    margin-right: 0.5rem;
}

.badge {
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 999px;
    font-weight: 700;
    line-height: 0.9075rem;
    color: var(--gray-200);
    background: var(--gray-400);
}

.statusCounter strong {
    color: var(--purple-500);
    margin-right: 0.5rem;
}

.emptyTasks {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    align-items: center;
    justify-content: center;
    color: var(--gray-300);
    text-align: center;
    gap: 1rem;
    line-height: 1.4rem;
    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
}

.emptyTasks p strong {
    display: block;
}
